header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#avatar-img {
  border-radius: 50%;
  width: 64px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 56px;
  padding-top: 24px;
}

#profile-header {
  display: flex;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
}

#profile-name {
  margin-left: 8px;
  font-size: 1.8rem;
}