nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  background: none;
  border: none;
  padding: 0;
  color:#2e9ea4;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  color:#2e9ea4;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-image {
  position: relative;
  bottom: 64px;
  border-radius: 50%;
  width: 128px;
}

#text-input {
  width: 80%;
  height: 100%;
  border: none;
}

article {
  width: 100%;
  margin: 4px 24px;
  background-color: #d5d5d5;
  border: 1px black solid;
}

#post-header {
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin-top: 12px;
  margin-left: 12px;
}

#avatar-img {
  border-radius: 50%;
  width: 48px;
}

article > section {
  margin: 12px 48px;
  font-size: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
}

footer > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 1px gray solid;
  font-size: 1.2rem;
  height: 24px;
}