body {
  --icon-normal: #B36133;
  --comment-bg: #FFCB97;
}

#blank-comment {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: fit-content;
}

#blank-comment-avatar-img {
  position: absolute;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 50%;
  width: 48px;
}

.comment-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 80%;
  margin-top: 12px;
  margin-left: 12px;
}

#comment-info {
  margin-left: 12px;
}

#comment-info > div {
  font-size: 1.2 rem;
}

#comment-owner {
  margin-top: 6px;
}

#comment-timestamp {
  margin-top: 4px;
  color: gray;
}

#comment-body {
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  margin-bottom: 8px;
}

#comment-text-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--comment-bg);
  margin-right: 32px;
  padding: 16px;
  border-radius: 8px;
  font-size: 1.4rem;
}

.edit-comment-body {
  display: flex;
}

.edit-btn, #comment-btn {
  font-size: 1.4rem;
}

#edit-text-area {
  background-color: var(--comment-bg);
}

#edit-text-form {
  height: fit-content;
}

.edit-comment-btn {
  font-size: 1rem;
}

.comment-text {
  border: none;
  outline: none;
  width: 100%;
  padding-top: 24px;
  padding-left: 64px;
}

#comment-btn {
  width: 100%;
}

#comment-actions {
  margin-top: 4px;
  margin-left: 8px;
  color: var(--icon-normal);
}