main {
  padding-top: 24px;
}

article {
  width: 100%;
  margin: 4px 24px;
  background-color: #d5d5d5;
  border: 1px black solid;
}

header {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin-top: 12px;
  margin-left: 12px;
}

article > section {
  margin: 12px 48px;
  font-size: 2rem;
}

img {
  border-radius: 50%;
  width: 48px;
}

footer {
  display: flex;
  flex-direction: column;
}

footer > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 1px gray solid;
  font-size: 1.2rem;
  height: 24px;
}

#blank-comment {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: fit-content;
}

#blank-comment-avatar-img {
  position: absolute;
  margin-top: 8px;
  margin-left: 8px;
}

#comment-text {
  border: none;
  outline: none;
  width: 100%;
  padding-top: 24px;
  padding-left: 64px;
}

#comment-btn {
  width: 100%;
}