header {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin-top: 24px;
}

img {
  border-radius: 50%;
  width: 48px;
}

#text-input {
  width: 80%;
  height: 100%;
  border: none;
}