<%- include('../partials/html-head') %>
<%- include('../partials/nav', {nav: title === "Newsfeed" ? "newsfeed" : "favorites"}) %>

<link rel="stylesheet" href="/stylesheets/posts/index.css">
<link rel="stylesheet" href="/stylesheets/comment.css">
<link rel="stylesheet" href="/stylesheets/post.css">
<script src="https://kit.fontawesome.com/73eb34af13.js" crossorigin="anonymous"></script>
<script defer src='/js/comment-functions.js'></script>

<main>
  <% posts.forEach(function(post, idx) { %>
    <%- include('../partials/post', {post, idx}) %>
  <% }) %>
</main>

<%- include('../partials/footer') %>