<%- include('../partials/html-head') %>

<%- include('../partials/nav', {nav: title === "Newsfeed" ? "newsfeed" : "favorites"}) %>
<link rel="stylesheet" href="/stylesheets/posts/index.css">
<link rel="stylesheet" href="/stylesheets/comment.css">
<link rel="stylesheet" href="/stylesheets/post.css">
<script src="https://kit.fontawesome.com/73eb34af13.js" crossorigin="anonymous"></script>

<main>
  <% posts.forEach(function(post, idx) { %>
    <%- include('../partials/post', {post, idx}) %>
  <% }) %>
</main>

<%- include('../partials/footer') %>

<script>
  const postCommentBtns = document.querySelectorAll(".comment-btn")
  const editCommentBtns = document.querySelectorAll(".edit-comment-btn")
  const cancelEditCommentBtns = document.querySelectorAll(".cancel-edit-comment-btn")

  postCommentBtns.forEach(btn => {
    btn.addEventListener("click", showComments)
  })
  editCommentBtns.forEach(btn => {
    btn.addEventListener("click", editComment)
  })
  cancelEditCommentBtns.forEach(btn => {
    btn.addEventListener("click", cancelCommentEdit)
  })

  function showComments(evt) {
    let postIdx = evt.target.id.slice(-1)
    document.getElementById(`post-${postIdx}-comments`).style.display = "contents"
  }

  function editComment(evt) {
    let commentIdx = evt.target.id.slice(-1)
    toggleEditComment(commentIdx, true)
  }

  function cancelCommentEdit(evt) {
    let commentIdx = evt.target.id.slice(-1)
    toggleEditComment(commentIdx, false)
  }

  function toggleEditComment(commentIdx, isEditing) {
    document.getElementById(`edit-comment-btn-${commentIdx}`).style.display = isEditing ? "none" : "flex"
    document.getElementById(`comment-${commentIdx}-text`).style.display = isEditing ? "none" : "contents"
    document.getElementById(`edit-comment-${commentIdx}-text`).style.display = isEditing ? "contents" : "none"
  }

  function log(){
    console.log('Hello');
  }
</script>