<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/index.css">
<script src="https://kit.fontawesome.com/73eb34af13.js" crossorigin="anonymous"></script>

<%- include('../partials/nav') %>

<main>
  <% posts.forEach(function(post) { %>
    <%- include('../partials/post', {post: post}) %>
  <% }) %> 
</main>

<%- include('../partials/footer') %>